
/* Estilos para el Header */
.header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-im{
  padding-bottom: 15px;
}

.titulo-clase{
  font-size: 35px !important;
}

.text-sidebar{
  color:white;
}
.color-sidebar{
  background: #007bff;
}
.background-login{
  background: rgb(229,226,233);
background: linear-gradient(90deg, rgba(229,226,233,1) 0%, rgba(42,105,161,1) 100%);
}

.border-banner img{
  border-radius: 10px;
}
.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.header nav ul li {
  display: inline;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.header nav ul li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.header nav ul li button:hover {
  text-decoration: underline;
}

/* Estilos para el Footer */
.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
}

.rounded-image {
  border-radius: 30px; 
  object-fit: contain; 
}


.completado {
  color: green;
  font-weight: bold;
}

.no-completado {
  color: red;
  font-weight: bold;
}

.error-message {
  color: #ff4d4f;
  text-align: center;
  margin-top: 2rem;
}

